
.primary:active{
  color: rgb(80, 139, 240); 
  border: 2px rgb(80, 139, 240) solid; 
  background-color: #ffff;
}

.danger {
  background-color: #ff6875; 
}

.danger:hover {
  background-color: #ff4252; 
}

.danger:active { 
color: #ff4252; 
border: 2px #ff4252 solid; 
background-color: #ffffff; 
}


